# Copy this file to .env and fill in your values
VITE_STELLAR_NETWORK=TESTNET
# Get this after running: bash contracts/deploy.sh
VITE_CONTRACT_ID=
mongodb_uri = mongodb+srv://RotaFI:ROTAFI_9009@cluster0.uinxbmz.mongodb.net/?appName=Cluster0