VITE_STELLAR_NETWORK=TESTNET
VITE_CONTRACT_ID=
VITE_API_URL=http://localhost:3001/api

MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.uinxbmz.mongodb.net/?appName=Cluster0
JWT_SECRET=your-secret-key-here
PORT=3001